@font-face {
  font-family: TTNorms;
  src: url(../fonts/TTNorms-Regular.otf);
}

@font-face {
  font-family: TTNorms;
  src: url(../fonts/TTNorms-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: TTNorms;
  src: url(../fonts/TTNorms-Black.otf);
  font-weight: 600;
}
